body{
    font-family: Vazir, Tahoma, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding-top: 50px;
}
.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}
h1{
    text-align: center;
    color: #333;
}
.input_group{
    display: flex;
    gap: 50px;
    margin-top: 20px;
}
#taskInput{
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}
#addBtn{
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
#addBtn:hover{
    background-color: #45a049;
}
#taskList li{
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color: #c0392b;
}
.done{
    text-decoration: line-through;
    color: #999;
}

li{
    transition: all 0.4s;
    opacity: 0;
    transform: translateY(-40px);
}
li.show{
    opacity: 1;
    transform: translateY(0);
}


@media (max-width: 600px) {
    .container {
      margin: 20px;
      padding: 15px;
    }
  
    .input_group {
      flex-direction: column;
    }
  
    #taskInput{
        width: 93%;
        font-size: 14px; 
    }
    #addBtn {
      width: 100%;
      font-size: 14px;
    }
  
    #addBtn {
      margin-top: 10px;
    }
  }
  